@model IEnumerable<BangazonWorkforce.Models.Computer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DecomissionDate)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var computer in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => computer.Id)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DecomissionDate)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => computer.Make)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>*@
            <td>
                @Html.ActionLink("Details", "Details", new {id=computer.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id=computer.Id})
            </td>
        </tr>
}
    </tbody>
</table>
